{% extends 'base.html' %}
{% block body %}

        <!-- Main Content-->
        <main class="mb-4" style="margin-top:60px;">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7 ">
                        <p style="word-wrap: normal;white-space:break-spaces;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod recusandae natus nemo laborum quos, odio sequi eaque alias deserunt ullam suscipit perferendis tempora iure architecto expedita voluptatibus esse commodi quasi iusto modi dolor doloribus.
                            
                            Veniam inventore, quaerat reprehenderit recusandae enim ratione. Necessitatibus dolorum eveniet optio nihil rem nulla magnam minus, consequuntur enim.
                            
                            Omnis tempore ullam maiores quis voluptas deserunt excepturi nisi eaque quo libero. Distinctio eius accusamus odit sed cumque eum voluptatem delectus natus magnam vero magni harum modi quis, officia velit recusandae est, adipisci minus dolores nobis rem. Voluptates alias nesciunt numquam pariatur tenetur accusamus ab accusantium saepe 
                        
                    </div>
                </div>
            </div>
        </main>
{% endblock %}