{% extends 'base.html' %}
{% block body %}





        <!-- Main Content-->
        <div class="container px-4 px-lg-5" style="margin-top:50px;">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    {% if posts %}
                    {% for item in posts %}
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="/posts/{{item.id}}">
                            <h2 class="post-title">{{item.title}}</h2>
                            <h3 class="post-subtitle">{{item.subtitle}}</h3>
                        </a>
                        <p class="post-meta">
                            Posted 
                            {% comment %} <a href="#!">Start Bootstrap</a> {% endcomment %}
                            on {{item.date}}
                        </p>
                    </div>
                  
                    <!-- Divider-->
                    <hr class="my-4" />
                    {% endfor %}
                    {% else %}

                    <div class="post-preview">
                        {% comment %} <a href="post.html"> {% endcomment %}
                            <h2 class="post-title">No Match Found</h2>
                            {% comment %} <h3 class="post-subtitle">Problems look mighty small from 150 miles up</h3> {% endcomment %}
                        {% comment %} </a> {% endcomment %}
                        {% comment %} <p class="post-meta">
                            Posted by
                            <a href="#!">Start Bootstrap</a>
                            on September 24, 2022
                        </p> {% endcomment %}
                    </div>
                    {% endif %}
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><nav aria-label="Page navigation example">
                        <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            {% if posts.has_previous %}
<li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}&keywords={{keyword}}">Previous</a></li>

{% endif %}
                            {% for i in page %}
    {% if posts.number == i %}
    <li class="page-item"><strong class="page-link" style="background:gray">{{ i }}</strong></li>
    {% else %}
    <li class="page-item"><a class="page-link" href="?page={{i}}&keywords={{keyword}}">{{i}}</a></li>
    {% endif %}
{% endfor %}

{% if posts.has_next %}
<li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}&keywords={{keyword}}">Next</a></li>
    
{% endif %}

                        </ul> 
                      </nav></div>
                    </div>
            </div>
        </div>
        <!-- Footer-->
{% endblock body %}